:root{
    --eversidegreen: #00ac69; 
}

html, body, *{
    margin: 0px;
    padding: 0px;
}

.header {   
    width: 100vw;   
}

nav.nav-top {
    height: 40px;
    background: var(--eversidegreen);
}

.container-nav-top {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

ul#nav-top-menu {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    list-style-type: none;    
}

ul#nav-top-menu a {
    color:white;
    font-weight: 500;
    text-decoration: none;
}

nav.nav-bottom {
    background-color:white;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-nav-bottom {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%;   
}

.everside-logo img.logo-img {
    width: 210px;  
}

.bg-container {
    padding: 0px;
    background-image: url(./images/nurse.jpg);
    min-height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;    
} 

.login-container {
    position: absolute;
    border-radius: 5px;
    margin: 20px;
    max-width: 500px;
    padding: 16px;
    right: 20px;
    background-color: white;
}

.login-form h1 {
    color: darkgreen;
    padding-bottom: 10px;
}

.label {
    color:darkgreen;
}

.login-form input {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;   
}

.btn {
  background-color: #04AA6D;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 30%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

span.forgot-pass a {
    text-decoration: none;
    margin-left: 30px;
    color:darkgreen;
    font-size: 18px;
    font-weight: 400;
}

@media only screen and  (max-width: 300px) {
.btn {
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  padding: 10px 8px;
  border: none;
  cursor: pointer;
  width: 30%;
  opacity: 0.9;
    }

span.forgot-pass a {
    text-decoration: none;
    margin-left: 5px;
    color:darkgreen;
    font-size: 14px;
    font-weight: 400;
    }

.login-container {
    margin-top:80%;
    }
}

@media only screen and  (min-width: 300px) and (max-width:500px) {
.login-container{
    margin-top: 70%;
    }
}

@media only screen and  (min-width: 500px) and (max-width:800px) {
.login-container{
    margin-top: 50%;
    }
}

@media only screen and  (min-width: 800px) and (max-width:900px) {
.login-container{
    margin-top: 40%;
    }
}

footer {
    background: var(--eversidegreen);
    height: 100px;
    margin-top: -3px;
    padding-top: 0px;
}

span.bg-img-attri {
    color:white;
    font-size: 14px;
    display:inline-block;
    padding-top: 80px;
    padding-left:20px;
}

